<%- include('../partials/header') %>

<h1>New Appointment</h1>

<form id="new-form" action="/events" method="POST" autocomplete="off">

  <label>Event 
    <input type="text" name="title"></label>
   



  <label>Date + Time
  <input type="datetime-local" name="date">
  </label>  

  

<input type="submit" value="Add Appointment">
</form>

<%- include('../partials/footer') %>